/*
	First Web Problems
	CSS Style Sheet
	by Stephani Alves & Kevin Deng
*/

body{
	background-color: #00A6E4;
	color: #FFF;
	font-family: arial;
}

/* 
	Dragging 
*/
#board{
	border: 1px solid #fff;
	height: 500px;
	width: 500px;
}
.dragme{
	position: absolute;
	cursor: pointer;
}


#drag1{
	z-index: 1;
}

#drag2{
	z-index: 2;
}

#drag3{
	z-index: 3;
}

#drag4{
	z-index: 4;
}

#drag5{
	z-index: 5;
}

#drag6{
	z-index: 50;
}


/*

*/
p{
	margin: 0;
	padding:0;
	line-height: 0.7em;
}

/* 
	Hall of Fame
*/

.famous-people{
	width:300px;
	background-color: #003168;
	color: #FFF;
	height: 200px;
	margin-right: 20px;
}

.top-fp{
	height: 20px;
	background-color: #004296;
	padding: 10px;
	color: #FFF;
}

.bottom-fp{
	width: 250px;
	margin: 0 auto;
}

.fp-image{
	width: 30px;
	height: 30px;
	text-align: bottom
	float: left;
}

.timer{
	float: right;
}


/*
	Sections Spacing
*/
#b-1{
	float: right;
	margin-top: 10%;
	margin-right: 10%;
}

#b-2{
	text-align: center;
}
/*
	Fonts 
*/

.light{
	font-family: 'Code-Pro-Light';
}

.bold{
	font-family: 'Code-Pro-Bold';
}

.normal{
	font-family: 'Code-Pro';
}


#f-1{
	font-size: 310px;
	color: #4BCDFF;
}

#f-2{
	font-size: 230px;
	color:#4BCDFF;
}

#f-3{
	font-size: 98px;
	color: #4BCDFF;
}

#f-4{
	font-size: 54px;
}

#f-5{
	font-size: 75px;
	color: #FFCD00;
}